body {
    background-color: whitesmoke;
    color: black;
    font-family: monospace;
    font-size: 17px;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
}

#terminal {
    background-color: whitesmoke;
    padding: 0px 3px;
    overflow-y: auto;
}

#output {
    white-space: pre-wrap;
}

#input-line {
    display: flex;
    align-items: center;
}

#prompt {
    margin-right: 5px;
}

#command-input {
    background: none;
    border: none;
    color: black;
    font-family: monospace;
    font-size: 17px;
    outline: none;
    flex: 1;
}
